#pageTitleDiv.pageTitle.clearfix
    #pageTitleBar.pageTitleIcon(tabindex='0')
        img#titleicon(src='/images/ci/sets/set01/folder_on.gif', alt='')
        h1#pageTitleHeader(tabindex='-1')
            span#pageTitleText
                span(style='color:#0072ce;') Course Content
        span.contextMenuContainer(style=' display: inline;')
            a#cmlink_fb63f079c094486ea30939c21b474e98.cmimg.editmode.jsInit(href='#contextMenu', title='Module 1: Complexity and ADTs page options')
                img(src='/images/ci/icons/cmlink_generic.gif', alt='Module 1: Complexity and ADTs page options')
        span#_titlebarExtraContent.titleButtons
