ul#content_listContainer.contentListPlain
    li.clearfix.liItem.read(id='contentListItem:_7493829_1')
        #_7493829_1.item.clearfix
            h3#anonymous_element_20
                span.reorder.editmode.hideme
                    span
                        img(src='', alt='')
                span(style='color:#000000;') Leadership of Museums
        .details
            .vtbegenerated
                p AS.460.675.81.SP17
        #_7493829_1previewModule.moduleSample
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Resources
        .details
            .vtbegenerated
                section.home-nav
                    .home-nav--left
                        h2.home-nav--title Resources
                        a.btn.btn-dark
                            i.icon-list-ol
                            span Go to Course content
                    .home-nav--right
                        ul.home-nav--list
                            li
                                a(href="#").home-nav--item
                                    img.home-nav--icon(src="img/Fill/Announcement/Announcement - Bright Green.svg")

                                    span Announcements
                            li
                                a(href="#").home-nav--item
                                    img.home-nav--icon(src="img/Fill/Syllabus/Syllabus - Bright Green.svg")

                                    span Syllabus
                            li
                                a(href="#").home-nav--item
                                    img.home-nav--icon(src="img/Fill/Community/Community - Bright Green.svg")

                                    span Community
                            li
                                a(href="#").home-nav--item
                                    img.home-nav--icon(src="img/Fill/Program Info/Info - Bright Green.svg")

                                    span Program Info
        .moduleSample
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Welcome Text

        .details
            .vtbegenerated
                h3
                section.section
                    .container
                        .row
                            .col-sm-12
                                h4.mb-5 Welcome Text. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        .row
                            .col-md-5
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum. Morbi rhoncus dui et ligula volutpat, laoreet gravida elit sollicitudin. Pellentesque ullamcorper non arcu et viverra. Nulla quis arcu quis ex sollicitudin dapibus sit amet ut arcu. Donec eu mattis risus. Aenean eget augue eget nibh dignissim vestibulum id ut turpis. Praesent commodo cursus magna.
                            .col-md-6.offset-md-1
                                .video-box
                                    iframe(src="https://jh.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=6fb9be54-c5b8-422c-ab67-aab50144e401&v=1" width="460" height="260" frameborder="0" allowfullscreen allow="autoplay")
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Course Objectives

        .details
            .vtbegenerated
                p   Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                ol
                    li Unordered list item 1
                        ul
                            li Unordered list item A
                            li Unordered list item B

                    li Unordered list item 2
                    li Unordered list item 3
                    li Unordered list item 4
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Instructor Information

        .details
            .vtbegenerated
                p   For specific questions regarding this program, please contact:
                include ../portfolio/portfolio.pug
