ul#content_listContainer.contentListPlain
    li.clearfix.liItem.read(id='contentListItem:_7493829_1')
        #_7493829_1.item.clearfix
            h3#anonymous_element_20
                span.reorder.editmode.hideme
                    span
                        img(src='', alt='')
                span(style='color:#000000;') Introduction to Climate System
        .details
            .vtbegenerated
                p Module 1
        #_7493829_1previewModule.moduleSample
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img(src="img/Fill/At a Glance/Glance - Orange.svg")
                span(style='color:#000000;') Module at a Glance

        .details
            .vtbegenerated
                h3.mb-5 Welcome to the first Climate Dynamics module. This week will serve as a broad overview of the earth system in the context of the solar system. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel.
                section.section
                    .container
                        .row
                            .col-md-5
                                p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor  mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur.
                            .col-md-6.offset-md-1
                                .video-box
                                    iframe(src="https://jh.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=6fb9be54-c5b8-422c-ab67-aab50144e401&v=1" width="460" height="260" frameborder="0" allowfullscreen allow="autoplay")
                h3.mb-3 Learning Objectives
                p By the end of the module, you will be able to:
                ol.mb-5
                    li Identify, compare, and evaluate the different legal definitions of cultural property.
                    li Explain how these definitions impact cultural heritage law and its application.
                    li Recognize the components of a U.S. legal opinion.
                    li “Brief” a case.
                h3.mb-3 This Week’s To Do List
                ul.mb-5
                    li Read/Review all assigned #[a(href="#") Reading and Resources] (note: please read the reading that is hyperlinked her in the lesson as it is shortened from the full)
                    li View all Module 2 Lectures.
                    li Complete the Module 2 Discussion Assignment.
                    li Complete Journal Assignment #2.
                    li Complete the Case Brief Assignment for Dugong v. Rumsfeld.
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img(src="img/Fill/Resources/Resources - Orange.svg")
                span(style='color:#000000;') Resources

        .details
            .vtbegenerated
                ul
                    li Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                    li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    li Nullam quis risus eget urna mollis ornare vel eu leo.
                    li Nullam id dolor id nibh ultricies vehicula ut id elit.
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img(src="img/Fill/Discussions/Discussions - Orange.svg")
                span(style='color:#000000;') Discussions

        .details
            .vtbegenerated
                p Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                ul
                    li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    li Nullam quis risus eget urna mollis ornare vel eu leo.
                    li Nullam id dolor id nibh ultricies vehicula ut id elit.
                p
                    strong Aenean lacinia bibendum nulla sed consectetur.
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img(src="img/Fill/Journals/Journals - Orange.svg")
                span(style='color:#000000;') Journals

        .details
            .vtbegenerated
                p Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                include ../journal-list/journal-list

    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img(src="img/Fill/Assignments/Assignments - Orange.svg")
                span(style='color:#000000;') Assignments

        .details
            .vtbegenerated
                p.mb-5 Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus.
                p Integer posuere erat a #[a(href="#") ante venenatis dapibus posuere] velit aliquet. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.


