.journal
    //.journal-img
    //    img.journal-img-bg(src="img/general/journal-mask.png")
    //    img.journal-img-icon(src="img/Fill/Journals/Journals - Bright Blue.svg")

    .journal-descr
        h4
            strong Blackboard Help Desk
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
.journal
    //.journal-img
    //    img.journal-img-bg(src="img/general/journal-01.png")

    .journal-descr
        h4
            strong Career Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
        a(href="#").read-more Watch the video
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-mask.png")
        img.journal-img-icon(src="img/Fill/Groups/Groups - Bright Blue.svg")

    .journal-descr
        h4
            strong Johns Hopkins Student Assistance Program (JHSAP)
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
        a(href="#").read-more Watch the video
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-02.png")

    .journal-descr
        h4
            strong Disability Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
        a(href="#").read-more Watch the video
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-03.png")

    .journal-descr
        h4
            strong Student Financial Services (Financial Aid)
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-mask.png")
        img.journal-img-icon(src="img/Fill/Journals/Journals - Bright Blue.svg")

    .journal-descr
        h4
            strong Blackboard Help Desk
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-01.png")

    .journal-descr
        h4
            strong Career Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
        a(href="#").read-more Watch the video
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-mask.png")
        img.journal-img-icon(src="img/Fill/Groups/Groups - Bright Blue.svg")

    .journal-descr
        h4
            strong Johns Hopkins Student Assistance Program (JHSAP)
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
        a(href="#").read-more Watch the video
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-02.png")

    .journal-descr
        h4
            strong Disability Services
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
        a(href="#").read-more Watch the video
.journal
    .journal-img
        img.journal-img-bg(src="img/general/journal-03.png")

    .journal-descr
        h4
            strong Student Financial Services (Financial Aid)
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet mauris vel leo auctor condimentum. Donec nec neque ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a(href="#").read-more Learn more
