table.home-nav
    tbody
        tr
            th.home-nav--left
                h2.home-nav--title Resources
                a.btn.btn-dark(href="#")
                    i.icon-list-ol
                    span Go to Course content
            th
                a(href="#").home-nav--item
                    img.home-nav--icon(src="img/Fill/Announcement/Announcement - Bright Green.svg")

                    span Announcements
            th
                a(href="#").home-nav--item
                    img.home-nav--icon(src="img/Fill/Announcement/Announcement - Bright Green.svg")

                    span Announcements
            th
                a(href="#").home-nav--item
                    img.home-nav--icon(src="img/Fill/Announcement/Announcement - Bright Green.svg")

                    span Announcements
            th
                a(href="#").home-nav--item
                    img.home-nav--icon(src="img/Fill/Announcement/Announcement - Bright Green.svg")

                    span Announcements
