extends layouts/modules-head
include helpers/mixins

block variables
    - const title = "Course Content/Modules"

block content
    .locationPane(style="max-width:1240px;margin: 0 auto;")
        nav#navigationPane.navigationPane(role='navigation', aria-label='Course Menu')
        #contentPanel.contentPane(role='main')
            .shadow
                #editmodeWrapper
                    #content.contentBox
                        include ../blocks/modules/header-modules/header-modules
                        #containerdiv.container.clearfix
                            include ../blocks/modules/modules-list/modules-list



block scripts
    //script(src="../js/main.js")
    //script(src="../js/vendor.js")
