extends layouts/student-head
include helpers/mixins

block variables
    - const title = "Introduction to Climate System"

block content
    .locationPane
        nav#navigationPane.navigationPane(role='navigation', aria-label='Course Menu')
        #contentPanel.contentPane(role='main')
            .shadow
                #editmodeWrapper
                    #content.contentBox
                        include ../blocks/modules/header-modules/header-modules
                        #containerdiv.container.clearfix
                            include ../blocks/modules/student-list/student-list



block scripts
    //script(src="../js/main.js")
    //script(src="../js/vendor.js")
