#pageHeader, #schemePreviewHead, div.pageTitle {
    background: $green;
}
.contentList, .buildList, .contentListPlain, .announcementList {
    
    
    .home-nav {
        display: flex;
        flex-direction: row;
        border: 1px solid $border-color;
        .btn {
            width: 100%;
            font-size: $h6-font-size;
            text-transform: uppercase;
        }
        .btn i {
            margin-right: .5rem;
            span {
                text-decoration: underline;
                text-decoration-color: aqua;
            }
        }
        &--left, &--right {
            padding: 40px 65px;
        }
        &--left {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 358px;
            background: $gray-100;
        }
        &--right {
            width: 100%;
        }
        &--title {
            font-size: $h2-font-size;
            line-height: 42px;
            font-weight: $font-weight-bold;
            color: $black;
            margin-bottom: 40px;
        }
        &--list {
            display: flex;
            flex-direction: row;
            list-style: none !important;
            justify-content: space-between;
            width: 100%;
            padding: 0 !important;
            li a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: $h6-font-size;
                color: $black;
                font-weight: $font-weight-bold;
                .home-nav--icon {
                    margin-bottom: 1rem;
                }
                span {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-style: inherit;
                    color: inherit;
                    font-weight: inherit;
                }
            }
        }
    }
    
    //PAGE CUSTOM HEADER IN 1ST ELEMENT OF LIST
    & > li:first-child, & > li.read:first-child:hover {
        margin: 0 !important;
        padding: 0 40px!important;
        background: $green;
        .vtbegenerated {
            padding: 0 !important;
            margin-top: 0;
        }
        .item, .details {
            padding: 0 !important;
            margin-bottom: 0!important;
        }
    }
    & > li:nth-child(2), & > li.read:nth-child(2):hover {
        margin: 0 !important;
        padding: 40px 40px 0 !important;
        .item, .details {
            padding: 0 !important;
            margin-bottom: 0!important;
        }
        h3 {
            display: none;
        }
    }
    & > li:nth-child(3), & > li.read:nth-child(3):hover {
        h3 {
            display: none;
        }
        h4 {
            font-size: $h4-font-size;
        }
    }
}
