section.portfolio.bg-light
    .portfolio-left
        .portfolio-name
            h4.portfolio-title  Dr. Beatrice Kondo
            p.portfolio-subtitle  Assistant Director, MS in Biotechnology

        .portfolio-social
            h4.portfolio-social-title Contact
            ul.portfolio-social-list
                li
                    a.portfolio-social-link(href="tel:(410)410-2674")
                        i.fa.fa-mobile-phone
                        span (410) 410-2674
                li
                    a.portfolio-social-link(href="mailto:aapfaculty@jhu.edu")
                        i.fa.fa-envelope
                        span aapfaculty@jhu.edu
                li
                    a.portfolio-social-link(href="#")
                        i.fa.fa-link
                        span View Instructor Bio

        .portfolio-social
            h4.portfolio-social-title Department
            ul.portfolio-social-list
                li
                    a.portfolio-social-link(href="#")
                        span View Instructor Bio
    .portfolio-right
        .portfolio-img.blue-bg
            img(src="img/general/person.png")
section.portfolio.bg-gray
    .portfolio-left
        .portfolio-name
            h4.portfolio-title  Dr. Beatrice Kondo
            p.portfolio-subtitle  Assistant Director, MS in Biotechnology

        .portfolio-social
            h4.portfolio-social-title Contact
            ul.portfolio-social-list
                li
                    a.portfolio-social-link(href="tel:(410)410-2674")
                        i.fa.fa-mobile-phone
                        span (410) 410-2674
                li
                    a.portfolio-social-link(href="mailto:aapfaculty@jhu.edu")
                        i.fa.fa-envelope
                        span aapfaculty@jhu.edu
                li
                    a.portfolio-social-link(href="#")
                        i.fa.fa-link
                        span View Instructor Bio

        .portfolio-social
            h4.portfolio-social-title Department
            ul.portfolio-social-list
                li
                    a.portfolio-social-link(href="#")
                        span View Instructor Bio
    .portfolio-right
        .portfolio-img


