ul#content_listContainer.contentListPlain
    li.clearfix.liItem.read(id='contentListItem:_7493829_1')
        #_7493829_1.item.clearfix
            h3#anonymous_element_20
                span.reorder.editmode.hideme
                    span
                        img(src='', alt='')
                span(style='color:#000000;') Course Content/Modules
        .details
            .vtbegenerated
        #_7493829_1previewModule.moduleSample
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Assignment Guidelines

        .details
            .vtbegenerated
                p   Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.

                p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Duis mollis, est non commodo luctus.

    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Modules

        .details
            .vtbegenerated
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                a(href="#")
                    span(style='color:#000000;') Module 1: Introduction to the Climate System

        .details
            .contextItemDetailsHeaders.clearfix
                .detailsLabel.u_floatThis-left Availability:
                .detailsValue.u_floatThis-left September 4, 2019 – September 10, 2019
            .vtbegenerated
                h6 Enabled
                p Statistics Tracking
                h6 Description
                p Welcome to the first Climate Dynamics module. This week will serve as a broad overview of the earth system in the context of the solar system. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel.
                a(href="#") Learn More
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Module 2: Module Title

        .details
            .contextItemDetailsHeaders.clearfix
                .detailsLabel.u_floatThis-left Availability:
                .detailsValue.u_floatThis-left September 11, 2019 – September 17, 2019
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Module 3: Module Title

        .details
            .contextItemDetailsHeaders.clearfix
                .detailsLabel.u_floatThis-left Availability:
                .detailsValue.u_floatThis-left September 18, 2019 – September 25, 2019
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Module 4: Module Title

        .details
            .contextItemDetailsHeaders.clearfix
                .detailsLabel.u_floatThis-left Availability:
                .detailsValue.u_floatThis-left September 26, 2019 – October 1, 2019
    li.clearfix.liItem.read()
        .item.clearfix
            h3
                span.reorder.editmode.hideme
                    span
                        img
                span(style='color:#000000;') Module 5: Module Title

        .details
            .contextItemDetailsHeaders.clearfix
                .detailsLabel.u_floatThis-left Availability:
                .detailsValue.u_floatThis-left October 1, 2019 – October 7, 2019


