ul#content_listContainer.contentListPlain
    li.clearfix.liItem.read(id='contentListItem:_7493829_1')
        #_7493829_1.item.clearfix
            h3#anonymous_element_20
                span.reorder.editmode.hideme
                    span
                        img(src='', alt='')
                span(style='color:#000000;') Student Support
        .details
            .vtbegenerated
        #_7493829_1previewModule.moduleSample

    li.clearfix.liItem.read()
        .item.clearfix
            h3.d-none
                span.reorder.editmode.hideme
                    span
                        img(src="img/Fill/Journals/Journals - Orange.svg")
                span(style='color:#000000;') Journals

        .details
            .vtbegenerated
                include ../student-journal-list/student-journal-list



