*, *::before, *::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

//.container {
//    @include container();
//    @include sm(max-width, rem(510));
//    @include md(max-width, rem(690));
//    @include lg(max-width, rem(930));
//    @include xl(max-width, rem(1110));
//}

body {
    font-family: $font-family-base;
    background: #EFEDE4;
    max-width: 1240px;
    margin: 0 auto;
}
.contentBox {
    max-width: 1240px;
    margin-left: auto;
    background: $white;
    
    
}
.btn-dark {
    color: $white !important;
}
#content_listContainer{
    list-style: none;
    padding-bottom: 80px;
}
#containerdiv,
#containerdiv.container {
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    .vtbegenerated {
        
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
.blue-bg{
    position: relative;
    z-index: 2;
    &:before{
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: $blue-light;
        position: absolute;
        right: -5px;
        bottom: -5px;
        z-index: -1;
    }
}

